<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EdisPharma Exam System</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    
   
</head>

<body class="hold-transition login-page"  >
    <div style="position: fixed;bottom: 0;right: 0; ">
        <a href="http://Edispharma.com/"><b>Edis</b>Pharma</a>
    </div>
    <div class="login-box">
        <div class="login-logo">
             <img src="images/indir.png"   style="width:360px;"/>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">

                <form runat="server">

                    <div class="input-group mb-3 p-2">
                        <input ID="Kullanıcı_Ad" class="form-control" type="text" placeholder="Kullanıcı Adı"></input>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3 p-2">
                        <input ID="Kullanıcı_Şifre" class="form-control" type="password" 
                            placeholder="Şifre"></input>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <!-- /.col -->
                        <div class="col-4">

                            <input type="button" id="Giriş" class="btn btn-primary btn-block" value="Giriş" />

                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                @RenderBody()

                <!-- /.social-auth-links -->


            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <script src="Scripts/LoginPage.js"></script>

</body>

</html>